@import url('https://fonts.googleapis.com/css?family=Krub|Marcellus|Quicksand|Tenor+Sans&display=swap');
@import url('https://fonts.googleapis.com/css?family=Dancing+Script|Sacramento|Stalemate&display=swap');
body {
    margin: 0;
    font-family: 'Marcellus', serif !important;

    /* font-size: 1.2em; */
    /* -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale; */
}

h1,
h2,
h3,
h4,
h5,
button,
a {
    font-family: 'Marcellus', serif !important;
}

a {
    font-size: 1.2em !important;
}

button {
    font-size: 0.8em !important;
}
code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}
.btn {
    padding: 0.3rem 0.8rem !important;
}
