.react-datepicker__day {
    width: 3rem !important;
    line-height: 2.8rem !important;
}

.react-datepicker__day-name {
    width: 2.8rem !important;
    line-height: 2.8rem !important;
}
.react-datepicker__day,
.react-datepicker__header {
    font-size: 1.3em;
}

.react-datepicker__current-month {
    font-size: 1.3em;
}

.react-datepicker__week div {
    margin: 0;
    border: 0.1px solid #f5f5f5;
}

.react-datepicker__month {
    margin: 0;
}

section {
    display: flex;
    flex-wrap: wrap;
}
.dayPick {
    margin-right: 8%;
}
.apptInfo {
    display: flex;
    flex-direction: column;
    max-width: 600px;
}
.info {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-bottom: 40px;
}
.time {
    display: flex;
    flex-wrap: wrap;
    /* width: 600px; */
}

.btn {
    min-width: 88px;
    cursor: pointer;
}

.confirmBtn {
    background: rgb(78, 190, 170);
    line-height: 2;
    font-size: 1em !important;
    width: 120px;
    text-align: center;
    border-radius: 0.4rem;
    cursor: pointer;
}
.allServices {
    display: flex;
    width: 100%;
    margin-top: 15px;
    padding: 25px 10px;
    justify-content: space-between;
    border-top: solid lightgray 1px;
}
.bookBtn {
    align-self: center;
    cursor: pointer;
}
