nav.navbar.navbar-default {
    margin-bottom: 0;
    background: #07ddbd;
    color: white;
}

.navbar {
    background: #07ddbd;
    padding: 2px;
    display: flex;
    max-height: 110px;
}

.navbar-brand a {
    font-family: 'Sacramento', cursive !important;
    text-decoration: none;
    margin-left: -25px;
    color: whitesmoke;
    font-size: 2.5em !important;
    text-transform: lowercase;
}

.nav-item a {
    color: whitesmoke;

    font-size: 1.1em !important;
    margin-right: 15px;
}

.nav-item a:hover {
    color: white;
    text-decoration: none;
}

.navbar-brand img {
    margin-top: -8px;
    width: 15%;
    height: 15%;
}

@media (min-width: 974px) {
    .navbar-brand img {
        width: 13%;
        height: 13%;
    }
}
@media (max-width: 614px) {
    .navbar-brand img {
        text-align: center;
    }
}
