.navbar {
    background: #07ddbd;
    padding: 5px 15px;
    padding-bottom: 15px;
    display: flex;
    /* max-height: 110px; */
    /* position: relative; */
}

.navLogo {
    font-family: 'Sacramento', cursive !important;
    margin-top: 10px;
    margin-left: 6px;
    color: whitesmoke;
    font-size: 2.8em !important;
}

nav a {
    text-decoration: none !important;
}
.nav-item a {
    color: whitesmoke;
    font-size: 1.1em !important;
    margin-right: 15px;
    cursor: pointer;
}

.nav-item a:hover {
    text-shadow: #240935 0.1em 0.1em 0.2em;
    cursor: pointer;
}

@media only screen and (min-width: 768px) {
    .navbar-collapse {
        display: flex;
        justify-content: flex-end;
    }
}
